all:
  vars:
    disconnected_url: 2620-52-0-1303--2573.sslip.io:5000
    # pull_secret_file: /root/openshift_pull.json
    iso_url: http://192.168.122.1/agent-based.iso
    prefix: 64
    dns_resolver:
    - 2620:52:0:1303::1
    hosts:
    - addresses:
      - ip: 2620:52:0:1303::21
        netmask: 64
        gateway: 2620:52:0:1303::1
      mac: cc:aa:aa:aa:dd:01
      bmc_url: http://192.168.122.1:9000/redfish/v1/Systems/local/agent-based-node-1
#     disk: vdd
    - addresses:
      - ip: 2620:52:0:1303::22
        netmask: 64
        gateway: 2620:52:0:1303::1
      mac: cc:aa:aa:aa:dd:02
      bmc_url: http://192.168.122.1:9000/redfish/v1/Systems/local/agent-based-node-2
    - addresses:
      - ip: 2620:52:0:1303::23
        netmask: 64
        gateway: 2620:52:0:1303::1
      mac: cc:aa:aa:aa:dd:03
      bmc_url: http://192.168.122.1:9000/redfish/v1/Systems/local/agent-based-node-3
    cluster: agent-based
    domain: karmalabs.corp
    ctlplanes: 3
    workers: 0
    api_vip: 2620:52:0:1303::2
    ingress_vip: 2620:52:0:1303::3
    ssh_key: CHANGEME
